.financeCal-content {
    width: 49%;
    margin: 0 auto;
}
.financeCal-content-button{
    overflow: visible;
    background: #2278d4;
    border: 0;
    color: #fff;
    width: 82px;
    height: 30px;
    border-radius: 4px;
}

.financeCal-content .ant-input-wrapper,
.financeCal-content .ant-input-search,
.financeCal-content .ant-input-group-wrapper {
    margin-bottom: 30px;
}
.financeCal-content .ant-input-group-wrapper{
    display: block;
}

.financeCal-content .ant-tabs .ant-tabs-bar {
    border-bottom: 0;
}

.financeCal-content .ant-tabs .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab-active {
    color: #fff;
    font-weight: 500;
}

.financeCal-content .ant-tabs .ant-tabs-bar .ant-tabs-nav-container .ant-tabs-nav-wrap .ant-tabs-nav-scroll .ant-tabs-nav .ant-tabs-ink-bar {
    background-color: #fff;
}