.App {
    text-align: center;
}
.App-background{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(http://image14.m1905.cn/uploadfile/2017/0828/20170828091208520141.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(15px);
    z-index: -1;
}

.App-header {
    /* background-color: #04305f; */
    padding: 20px;
    color:#000;
    line-height: 40px;
    font-size: 19px;
}