.DaysContent{


}
.DaysContent header{
    width: 70%;
    margin: 0 auto;
    color: #fff;
    background-color: #4c4d5f;
    border-radius: 6px;
}
.DaysContent header .MuiTab-label-55{
    font-size: 0.76rem;

}
.DaysContent-content{
    top: 63px;
    background: #4c4d5f;
    border-radius: 6px;
    width:70%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.DaysContent .DaysContent-content .ant-input-search{
    display: block;
}
.DaysContent .DaysContent-content span input{
    width: 73%;
    height: 35px;
    display: block;
    margin: 50px auto 19px auto;
    border-radius: 4px;
    border: 1px solid #c7eff4;
    background: #ff000000;
}

.DaysContent .DaysContent-content span input::placeholder{
    color:#fff;
    text-align: center;
    font-size: 0.76rem;
}
.DaysContent .DaysContent-content span button{
    color: #fff;
    width: 58px;
    height: 30px;
    background: #4d4c61;
    border-radius: 4px;
    border: 0;
}
.DaysContent-content-search ,.DaysContent-content-list{

}
.DaysContent-content-search {
    display: inline-block;
    width: 87%;

}
.DaysContent-content-search .DaysContent-content-searchButton{
    width:50%;
    float: left;

}
.DaysContent-content-search .DaysContent-content-searchMail{
    width:50%; 
    float: right;
}
.DaysContent-content-list{
    width: 87%;
    text-align: left;
    font-size: 0.76rem;
    margin-top: 30px;
    background: #3e3d4d;
    border-radius: 6px;
    margin-bottom: 30px;
    
}
.DaysContent-content-list .ant-card-body{
    width: 60%;
    margin:30px 21px 32px 33px;
    color: #fff;
}