.DaysContent{

}
.DaysContent header{
    width: 70%;
    margin: 0 auto;
    color: #fff;
    background-color: #24263e;
    border-radius: 6px;
}
.DaysContent header .MuiTab-label-55{
    font-size: 0.76rem;
}
.DaysContent header .MuiTabs-root-36 button{
    display: block;
    line-height: 100%;
    height: 70px;
}
.DaysContent-content{
    top: 31px;
    margin-top: 60px;
    background: #161927;
    border-radius: 6px;
    width:70%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.DaysContent .DaysContent-content .ant-input-search{
    display: block;
}
.DaysContent .DaysContent-content span{
    background: #24263e;
}

.DaysContent .DaysContent-content span input{
    width: 73%;
    height: 52px;
    display: block;
    margin: 10px auto 28px auto;
    border-radius: 4px;
    border: 1px solid #ffffff52;
    background: #24263e;
}
.DaysContent .DaysContent-content span input:focus{
    color:#000;
    outline: 0;
    background: #fff;
    border: 0px solid #fff;
}

.DaysContent .DaysContent-content span input::placeholder{
    color:#fff;
    text-align: center;
    font-size: 0.76rem;
}
.DaysContent .DaysContent-content span button{
    margin-bottom: 28px;
    color: #fff;
    width: 58px;
    height: 30px;
    background: #3e3d4d;
    border-radius: 4px;
    border: 0;
}
.DaysContent .DaysContent-content span button:focus{
    outline: 0px;
    box-shadow: 3px 3px 3px #5c5d71;
}
.DaysContent-content-search ,.DaysContent-content-list{

}
.DaysContent-content-search {
    display: inline-block;
    width: 100%;

}
.DaysContent-content-search .DaysContent-content-searchButton{
    width:48%;
    float: left;
}
.DaysContent-content-search .DaysContent-content-searchMail{
    width:50%; 
    float: right;
}
.DaysContent-content-list{
    width: 100%;
    text-align: left;
    font-size: 0.76rem;
    margin-top: 30px;
    background:#24263e;
    border-radius: 6px;
    margin-bottom: 30px; 
}
.DaysContent-content-list .ant-card-body{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin:0 auto;
    color: #fff;
}
.DaysContent-content-list .ant-card-body div{
    word-break: break-all;
    margin: 10px 16px 17px 10px;
    width: 128px;
    text-align: center;
}
.DaysContent-content-list .ant-card-body div p{
    width: 128px;
    height: 62px;
    word-break:break-all;
    font-size: 1.5rem;
    font-weight: lighter;
}
.DaysContent-content-list .ant-card-body div i{
    margin-top: 14px;
    display: block;
}
.DaysContent-content-list .ant-card-body div .icon-6{
    color: #FFC107;
}
.DaysContent-content-list .ant-card-body div .icon-yonggongzongliang{
    color: #E91E63;
}
.DaysContent-content-list .ant-card-body div .icon-liuliang1{
    color: #009688;
}
.DaysContent-content-list .ant-card-body div .icon--quanbujiao{
    color:#ff9800;
}
.DaysContent-content-list .ant-card-body div .icon-24xiaoshifuwu{
    
}
.DaysContent-content-list .ant-card-body div .icon-lvzhou_zhanbi{
    color: #36f4c8;
}
.DaysContent-content-list .ant-card-body div .icon-jiantou7{
    color:green;
}
.DaysContent-content-list .ant-card-body div .icon-jiantou22{
    color:red;   
}

@media (max-device-width :822px)  and (-webkit-min-device-pixel-ratio : 3){
    .DaysContent-content-list .ant-card-body {
      flex-direction: row;
      flex-wrap: wrap;
      word-break: break-all;
      text-align: center;

    }
    .DaysContent-content-list .ant-card-body div{
        margin: 0;
        width: 50%;

    }
  }